{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax"
             style="background-image: url({% static 'img/bg-img/38.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Workshop</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon_house_alt"></i>
                                    Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Workshop</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Gallery Area Start -->
    <div class="alime-portfolio-area section-padding-80 clearfix" style="background-color:floralwhite">

        <h1 style="margin-left: 850px; margin-top: -60px; color: darkred">Your pin</h1>


        {% if form.errors %}
            <b>Errors occurred when filling in the form fields</b>
            {{ form.errors }}
        {% endif %}

        <form style="margin-left: 830px; margin-top: 33px" action="{% url 'add_pin' %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col-lg-12" style="margin-top: 33px; margin-left: 20px; width: 200px">
                <button class="btn btn-info btn-block" type="submit" value="Submit">
                    Submit
                </button>
            </div>
        </form>
        <div class="col-lg-12" style="margin-top: 33px; margin-left: 850px; width: 200px">
            <button class="btn btn-info btn-block" type="submit" value="Return to workshop">
                <a
                        href="{% url 'workshop' %}">Workshop
                </a>
            </button>
        </div>
    </div>
    <!-- Gallery Area End -->
{% endblock %}
