{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>{{ title|title }}</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/core-img/favicon.png' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- /Preloader -->

<!-- Header Area Start -->
<header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Classy Menu -->
                <nav class="classy-navbar justify-content-between" id="alimeNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="{% url 'index' %}"><img src="{% static 'img/core-img/logo.png' %}"
                                                                       alt="logo"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">
                        <!-- Menu Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul id="nav">
                                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'index' %}">- Home</a></li>
                                        <li><a href="{% url 'workshop' %}">- Workshop</a></li>
                                        <li><a href="{% url 'gallery' %}">- Gallery</a></li>
                                        {% if user.is_authenticated %}
                                            <li><a href="{% url 'profile' %}">- Profile</a></li>
                                        {% else %}
                                        {% endif %}
                                    </ul>
                                </li>
                                <li><a href="{% url 'gallery' %}">Gallery</a></li>
                                {% if user.is_authenticated %}
                                    <li><a href="{% url 'profile' %}">Profile</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                {% else %}
                                    <li><a id="Login" href="{% url 'login' %}">Login</a></li>
                                    <li><a href="{% url 'register' %}">Register</a></li>
                                {% endif %}
                            </ul>
                            {% if user.is_authenticated %}
                                <div class="classynav">
                                    <ul id="nav">
                                        <li class="active">
                                            <a href="{% url 'profile' %}">You have entered as {{ user.username }}</a>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <div></div>
                            {% endif %}
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->
{% block content %}
{% endblock content %}

<!-- Follow Area Start -->
<section class="follow-area clearfix">


    <!-- Instagram Feed Area -->
    <div class="instragram-feed-area owl-carousel">
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="{% static 'img/bg-img/11.jpg' %}" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="{% static 'img/bg-img/11.jpg' %}">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>SCARY</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="{% static 'img/bg-img/12.jpg' %}" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="{% static 'img/bg-img/12.jpg' %}">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>INSPIRING</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="{% static 'img/bg-img/13.jpg' %}" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="{% static 'img/bg-img/13.jpg' %}">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>AFFECTIONATE</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="{% static 'img/bg-img/14.jpg' %}" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="{% static 'img/bg-img/14.jpg' %}">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>FUNNY</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="{% static 'img/bg-img/15.jpg' %}" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="{% static 'img/bg-img/15.jpg' %}">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>PATHETIC</span>
                </a>
            </div>
        </div>
        <!-- Single Instagram Item -->
        <div class="single-instagram-item">
            <img src="{% static 'img/bg-img/16.jpg' %}" alt="">
            <div class="instagram-hover-content text-center d-flex align-items-center justify-content-center">
                <a href="{% static 'img/bg-img/16.jpg' %}">
                    <i class="ti-instagram" aria-hidden="true"></i>
                    <span>LONELY</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Follow Area End -->

<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-content d-flex align-items-center justify-content-between">
                    <!-- Copywrite Text -->
                    <div class="copywrite-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            This WebSite made specially for term project
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="{% url 'index' %}"><img src="{% static 'img/core-img/logo2.png' %}" alt="logo"></a>
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBdQ1LldFXLWJRIEizMVbSeSeh6r53QTP8eLpuTJWF7D2MWMYWXc40gX1RjfADLEAQfDk&usqp=CAU"><i
                                class="ti-facebook" aria-hidden="true"></i></a>
                        <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBdQ1LldFXLWJRIEizMVbSeSeh6r53QTP8eLpuTJWF7D2MWMYWXc40gX1RjfADLEAQfDk&usqp=CAU"><i
                                class="ti-twitter-alt" aria-hidden="true"></i></a>
                        <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBdQ1LldFXLWJRIEizMVbSeSeh6r53QTP8eLpuTJWF7D2MWMYWXc40gX1RjfADLEAQfDk&usqp=CAU"><i
                                class="ti-linkedin" aria-hidden="true"></i></a>
                        <a href="https://ru.pinterest.com/"><i class="ti-pinterest" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- **** All JS Files ***** -->
<!-- jQuery 2.2.4 -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Popper -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- All Plugins -->
<script src="{% static 'js/alime.bundle.js' %}"></script>
<!-- Active -->
<script src="{% static 'js/default-assets/active.js' %}"></script>

</body>

</html>