{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax"
             style="background-image: url({% static 'img/bg-img/38.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <h2 class="page-title">Workshop</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="{% url 'index' %}"><i class="icon_house_alt"></i>
                                    Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Workshop</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Gallery Area Start -->
    <div class="alime-portfolio-area section-padding-80 clearfix" style="background-color:floralwhite">
        <h1 style="margin-left: 830px; margin-top: -60px; color: darkred">List of pins</h1>
        <div style="display: flex; flex-wrap: wrap; flex-direction: row; align-content: baseline">
            <div id="my_wrapper">
                <nav>
                    <ul class="top-menu">
                        {% for pin in pins %}
                            <li class="active">
                                <a href="{{ pin.get_url }}">{{ pin.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
        {% if user.is_authenticated %}
            <div style="margin-top: 40px" class="row">
                <div class="col-12 text-center wow fadeInUp" data-wow-delay="700ms">
                    <a id="create_pin" href="{% url 'add_pin' %}" class="btn alime-btn btn-2 mt-15">Create it now</a>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 text-center wow fadeInUp" data-wow-delay="700ms">
                    <a href="{% url 'register' %}" class="btn alime-btn btn-2 mt-15">Register to add you pin</a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- Gallery Area End -->
{% endblock %}